.results-timing-title {
    position: absolute;
    top: 9%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 10;
    direction: rtl;
    color: #FFFDD0;
    font-size: 1.2rem;
    font-weight: 700;
}

.results-timing-list {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.results-timing-list p {
    color: #541005;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: clamp(0.85rem, 4vw, 1rem);
    font-weight: 600;
}