.section-6 {
    margin-top: -60px;
    position: relative;
    z-index: -1;
}

.section-6-title {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #541005;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    direction: rtl;
    width: 100%;
    z-index: 10;
}